name: E2E (iOS)

on:
  push:
    branches:
      - main

jobs:
  build:
    name: E2E (iOS)
    runs-on: macos-latest
    env:
      STAGING_API_URL: 'https://rickandmortyapi.com/graphql'
      PRODUCTION_API_URL: ''
      IS_STORYBOOK: false
      SENTRY_DSN: ''
      SEGMENT_DSN: ''
      DEVELOPER_DIR: /Applications/Xcode_12.0.1.app

    steps:
      - name: Checkout project
        uses: actions/checkout@v1

      - name: Specify node version
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Detox setup
        run: |
          brew update
          brew tap wix/brew
          brew install --HEAD applesimutils
          npm install -g react-native-cli
          npm install -g detox-cli

      - name: Install node_modules
        run: |
          yarn install

      - name: Install Pods
        run: |
          cd ios && pod install && cd ..

      - name: build Detox
        run: |
          yarn e2e:build:ios:release

      - name: iOS test
        timeout-minutes: 10
        run: |
          npx detox clean-framework-cache && npx detox build-framework-cache
          yarn e2e:test:ios:relesea
