# name: Android e2e detox

# on:
#   push:
#     branches:
#      - main
# jobs:
#   build:
#     runs-on: macos-latest
#     env:
#       STAGING_API_URL: 'https://rickandmortyapi.com/graphql'
#       PRODUCTION_API_URL: ''
#       IS_STORYBOOK: false
#       SENTRY_DSN: ''
#       SEGMENT_DSN: ''
#     steps:
#       - name: Checkout project
#         uses: actions/checkout@v1
#       - name: Specify node version
#         uses: actions/setup-node@v1
#         with:
#           node-version: 12
#       - name: Use specific Java version for sdkmanager to work
#         uses: joschi/setup-jdk@v2
#         with:
#           java-version: "openjdk8"
#           architecture: "x64"
#       - name: Download Android Emulator Image
#         run: |
#           echo "y" | $ANDROID_HOME/tools/bin/sdkmanager --install "system-images;android-29;google_apis;x86"
#           echo "no" | $ANDROID_HOME/tools/bin/avdmanager create avd --force --name emu --device "Nexus 5X" -k 'system-images;android-29;google_apis;x86'
#           $ANDROID_HOME/emulator/emulator -list-avds
#       - name: Install node_modules
#         run: |
#           yarn install

#       - name: Build for detox
#         run: |
#           yarn e2e:build:android:debug

#       - name: Android test
#         timeout-minutes: 10
#         continue-on-error: true
#         run: |
#           echo "Starting emulator"
#           nohup $ANDROID_HOME/emulator/emulator -avd emu -no-audio -no-snapshot -no-window &
#           $ANDROID_HOME/platform-tools/adb wait-for-device shell 'while [[ -z $(getprop sys.boot_completed | tr -d '\r') ]]; do sleep 1; done; input keyevent 82'
#           $ANDROID_HOME/platform-tools/adb devices
#           echo "Emulator started"
#       - name: Build Android and run detox
#         run: |
#           yarn start & yarn e2e:test:android:debug


#       # - name: Android test
#       #   timeout-minutes: 10
#       #   continue-on-error: true
#       #   run: |
#       #     mkdir -p artifacts
#       #     export PATH=$PATH:$ANDROID_HOME/platform-tools
#       #     $ANDROID_HOME/emulator/emulator @emu &
#       #     adb wait-for-device; adb shell 'while [[ -z $(getprop sys.boot_completed) ]]; do sleep 1; done;'; adb shell wm dismiss-keyguard
#       #     yarn e2e:test:android:debug
#       # - name: Provide videos of failed E2E tests
#       #   uses: actions/upload-artifact@master
#       #   with:
#       #     name: android-failing-e2e-videos
#       #     path: artifacts/
name: E2E (Android)

on:
  push:
    branches:
     - main

jobs:
  build:
    name: E2E (Android)
    runs-on: macOS-latest
    env:
      STAGING_API_URL: 'https://rickandmortyapi.com/graphql'
      PRODUCTION_API_URL: ''
      IS_STORYBOOK: false
      SENTRY_DSN: ''
      SEGMENT_DSN: ''

    steps:
      - uses: actions/checkout@v1

      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: '12'

      # - name: Install Yarn Dependencies
      #   run: yarn install --frozen-lockfile

      - name: Install Java JDK
        uses: joschi/setup-jdk@v2
        with:
          java-version: 'openjdk8'
          architecture: 'x64'

      # - name: Run Detox Build
      #   run: yarn e2e:build

      # - name: Run Detox Test(s)
      #   uses: reactivecircus/android-emulator-runner@v2
      #   with:
      #     api-level: 29
      #     target: default
      #     arch: x86_64
      #     profile: pixel
      #     avd-name: emu
      #     script: bash scripts/run-e2e-android-release.sh

      - name: Download Android Emulator Image
        run: |
          echo "y" | $ANDROID_HOME/tools/bin/sdkmanager --install "system-images;android-29;google_apis;x86"
          echo "no" | $ANDROID_HOME/tools/bin/avdmanager create avd --force --name emu --device "Nexus 5X" -k 'system-images;android-29;google_apis;x86'
          $ANDROID_HOME/emulator/emulator -list-avds


      - name: Install Yarn Dependencies
        run: yarn install --frozen-lockfile

      - name: Build for detox
        run: |
          yarn e2e:build

      - name: Android Emulator
        timeout-minutes: 10
        continue-on-error: true
        run: |
          echo "Starting emulator"
          nohup $ANDROID_HOME/emulator/emulator -avd emu -no-audio -no-snapshot -no-window &
          $ANDROID_HOME/platform-tools/adb wait-for-device shell 'while [[ -z $(getprop sys.boot_completed | tr -d '\r') ]]; do sleep 1; done; input keyevent 82'
          $ANDROID_HOME/platform-tools/adb devices
          echo "Emulator started"

      - name: Run Detox Test(s)
        run: yarn start & yarn e2e:test
