name: Android

on: [push]

jobs:
  build:
    runs-on: macos-latest
    env:
      STAGING_API_URL: 'https://rickandmortyapi.com/graphql'
      PRODUCTION_API_URL: ''
      IS_STORYBOOK: false
      SENTRY_DSN: ''
      SEGMENT_DSN: ''

    steps:
      - name: Checkout
        uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - name: Node
        uses: actions/setup-node@v1

      - name: Use specific Java version for sdkmanager to work
        uses: joschi/setup-jdk@v2
        with:
          java-version: 'openjdk8'
          architecture: 'x64'

      - name: Download Android Emulator Image
        run: |
          echo "y" | $ANDROID_HOME/tools/bin/sdkmanager --install "system-images;android-29;google_apis;x86"
          echo "no" | $ANDROID_HOME/tools/bin/avdmanager create avd --force --name emu --device "Nexus 5X" -k 'system-images;android-29;google_apis;x86'
          $ANDROID_HOME/emulator/emulator -list-avds
      - name: Install node_modules
        run: |
          yarn install --frozen-lockfile

      - name: Build for detox
        run: |
          yarn e2e:build:android:debug
      - name: Android Emulator
        timeout-minutes: 10
        continue-on-error: true
        run: |
          echo "Starting emulator"
          mkdir -p artifacts
          export PATH=$PATH:$ANDROID_HOME/platform-tools
          $ANDROID_HOME/emulator/emulator @emu &
          adb wait-for-device; adb shell 'while [[ -z $(getprop sys.boot_completed) ]]; do sleep 1; done;'; adb shell wm dismiss-keyguard
          echo "Emulator started"
          yarn mobile:start &
          yarn e2e:test:android:debug